<%- include('../template/header')-%>
  <div class="row" style="margin-bottom: 0;">
    <div class="col s8">
      <h3>Assets:</h3>
      <div class="row">
        <div class="col s12">
          <% data.room.forEach((room)=>{ %>
            <div class=card>
              <div class="card-content">
                <h4><%= room.id%></h4>
                <div class="row">
                  <% data.device.forEach((device)=>{ 
                      if(device.coupledAssets.includes(room.frameworkID)){
                        if(device.type=="lamp"){%>
                        <div class="col s6">
                          <div id="card<%=device.frameworkID%>"class="card horizontal deviceCard z-depth-3">
                            <div class="card-image">
                              <img src="./images/light.png">
                            </div>
                            <div class="card-content">
                              <span class="card-title"><%=device.id%></span>
                              <button class="waves-effect waves-light blue btn-small">On</button><button class="waves-effect waves-light deep-orange btn-small" style="margin-left:5px">Off</button>
                              <p id="lightstatus<%=device.frameworkID%>">State: <%=device.lightstatus%></p>
                              <p>Brightness: 100%</p>
                            </div>
                          </div>
                        </div>
                        <%}else{%>
                          <div class="col s6">
                            <div class="card horizontal deviceCard z-depth-3">
                              <div class="card-image">
                                <img src="./images/sensor.png">
                              </div>
                              <div class="card-content">
                                <span class="card-title"><%=device.id%></span>
                                <table id="eventtTable">
                                  <thead>
                                    <tr>
                                        <th class="dashb">Parameter</th>
                                        <th class="dashb">Value</th>
                                    </tr>
                                  </thead>
                                  <tbody> 
                                    <tr>
                                      <td class="dashb">Illuminance</td>
                                      <td id="illuminance<%=device.frameworkID%>" class="dashb"><%=device.illuminance%></td>
                                    </tr> 
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <%}
                        }
                      })%>
              </div>
              </div>
            </div>
          <% }); %>
        
      </div>
      </div>
    </div>
    <div class="col s4 indigo lighten-5" id="consoleSide" >
      <h3>Console messages:</h3>
    </div>
  </div>
<%- include('../template/footer')-%>
